In [18]:
# Import the necessary libraries
import pandas as pd
import json
import requests
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [21]:
# Read the CSV file
pd.options.display.max_colwidth = 200
ap_df = pd.read_csv("Data/air_pollution.csv")
ap_df

,Country,Year,Nitrogen Oxide,Sulphur Dioxide,Carbon Monoxide,Organic Carbon,NMVOCs,Black Carbon,Ammonia
0,Afghanistan,1750,555.42,139.42,142073.31,5456.88,13311.29,1633.03,7628.36
1,Afghanistan,1760,578.45,145.09,147859.24,5679.12,13853.64,1699.54,7946.02
2,Afghanistan,1770,602.42,150.99,153867.41,5909.88,14416.85,1768.60,8276.90
3,Afghanistan,1780,627.37,157.11,160104.42,6149.44,15001.56,1840.29,8621.53
4,Afghanistan,1790,653.34,163.46,166576.77,6398.04,15608.38,1914.68,8980.49
...,...,...,...,...,...,...,...,...,...
47530,Zimbabwe,2015,83842.10,67231.29,1610636.44,108275.48,299713.47,30912.24,112425.84
47531,Zimbabwe,2016,76234.43,59452.70,1632515.11,111975.72,302718.32,31570.53,115539.98
47532,Zimbabwe,2017,74381.80,53891.39,1657688.51,114613.20,306905.62,32344.41,118254.66
47533,Zimbabwe,2018,73062.53,51072.78,1653664.68,114583.51,306860.21,32365.56,119965.76
47534,Zimbabwe,2019,70779.92,45896.98,1647792.46,114543.28,306574.85,32364.53,121689.67

In [22]:
# Using 'to_list()' converts the column labels to a Python list
columns = ap_df.columns.to_list()
columns

['Country',
 'Year',
 'Nitrogen Oxide',
 'Sulphur Dioxide',
 'Carbon Monoxide',
 'Organic Carbon',
 'NMVOCs',
 'Black Carbon',
 'Ammonia']

In [23]:
ap_df.dtypes

Country             object
Year                 int64
Nitrogen Oxide     float64
Sulphur Dioxide    float64
Carbon Monoxide    float64
Organic Carbon     float64
NMVOCs             float64
Black Carbon       float64
Ammonia            float64
dtype: object

In [27]:
ap_df["Country"].unique()
len(ap_df["Country"].unique())

230

In [31]:
earliest_date1 = ap_df['Year'].min()
earliest_date1

1750

In [36]:
earliest_date2 = 1950
earliest_date2

1950

In [37]:
filtered_ap_df = ap_df[ap_df['Year'] >= earliest_date2]
filtered_ap_df

,Country,Year,Nitrogen Oxide,Sulphur Dioxide,Carbon Monoxide,Organic Carbon,NMVOCs,Black Carbon,Ammonia
155,Afghanistan,1950,22275.35,777.88,440870.96,15114.38,35305.46,4558.01,35738.03
156,Afghanistan,1951,22543.15,798.25,420386.77,15181.04,35130.32,4577.78,36392.72
157,Afghanistan,1952,21627.07,808.01,397146.98,15248.12,33781.44,4596.74,36974.06
158,Afghanistan,1953,22802.86,852.10,378114.13,15310.15,34532.97,4615.94,37591.01
159,Afghanistan,1954,22913.53,877.14,356587.85,15367.04,34223.80,4632.69,38072.12
...,...,...,...,...,...,...,...,...,...
47530,Zimbabwe,2015,83842.10,67231.29,1610636.44,108275.48,299713.47,30912.24,112425.84
47531,Zimbabwe,2016,76234.43,59452.70,1632515.11,111975.72,302718.32,31570.53,115539.98
47532,Zimbabwe,2017,74381.80,53891.39,1657688.51,114613.20,306905.62,32344.41,118254.66
47533,Zimbabwe,2018,73062.53,51072.78,1653664.68,114583.51,306860.21,32365.56,119965.76
47534,Zimbabwe,2019,70779.92,45896.98,1647792.46,114543.28,306574.85,32364.53,121689.67

In [38]:
# Drop rows with missing values in specified columns
columns_to_check = ['Country', 'Year', 'Nitrogen Oxide', 'Sulphur Dioxide', 'Carbon Monoxide', 'Organic Carbon', 'NMVOCs', 'Black Carbon', 'Ammonia']
filtered_ap_df = filtered_ap_df.dropna()
filtered_ap_df

,Country,Year,Nitrogen Oxide,Sulphur Dioxide,Carbon Monoxide,Organic Carbon,NMVOCs,Black Carbon,Ammonia
155,Afghanistan,1950,22275.35,777.88,440870.96,15114.38,35305.46,4558.01,35738.03
156,Afghanistan,1951,22543.15,798.25,420386.77,15181.04,35130.32,4577.78,36392.72
157,Afghanistan,1952,21627.07,808.01,397146.98,15248.12,33781.44,4596.74,36974.06
158,Afghanistan,1953,22802.86,852.10,378114.13,15310.15,34532.97,4615.94,37591.01
159,Afghanistan,1954,22913.53,877.14,356587.85,15367.04,34223.80,4632.69,38072.12
...,...,...,...,...,...,...,...,...,...
47530,Zimbabwe,2015,83842.10,67231.29,1610636.44,108275.48,299713.47,30912.24,112425.84
47531,Zimbabwe,2016,76234.43,59452.70,1632515.11,111975.72,302718.32,31570.53,115539.98
47532,Zimbabwe,2017,74381.80,53891.39,1657688.51,114613.20,306905.62,32344.41,118254.66
47533,Zimbabwe,2018,73062.53,51072.78,1653664.68,114583.51,306860.21,32365.56,119965.76
47534,Zimbabwe,2019,70779.92,45896.98,1647792.46,114543.28,306574.85,32364.53,121689.67

In [39]:
# Check the length of the DataFrame after dropna
print("Length of filtered DataFrame after dropna:", len(filtered_ap_df))

Length of filtered DataFrame after dropna: 16100
Number of rows in filtered DataFrame after dropna: 16100

In [46]:
# Save the filtered DataFrame to a CSV file in the specified path
output_path = r"C:\Users\navje\OneDrive\Desktop\data_analysis\Climate_Change_Analysis\Cleaned Data\filtered_air_pollution_data.csv"
filtered_ap_df.to_csv(output_path, index=False)